<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace必须和是对应的mapper.java的地址-->
<mapper namespace="com.dbmanage.dao.testdao">


    <resultMap id="hiho" type="com.dbmanage.model.hoho">
        <id column="id" property="id" />
        <result column="test" property="test" jdbcType="VARCHAR"/>
        <result column="number" property="number" />
    </resultMap>
    <!--id必须和对应的mapper.java的方法名称相同，不管返回类型是List还是只有一个，resultMap或resultType都是一样的-->
    <select id="testSql" parameterType="int" resultMap="hiho">
    <!--<select id="testSql" parameterType="int" resultType="map">-->
        SELECT * FROM hoho
        WHERE id = #{id}
    </select>

    <!--<select id="testSql" parameterType="int" resultMap="hiho">-->
        <!--&lt;!&ndash;<select id="testSql" parameterType="int" resultType="map">&ndash;&gt;-->
        <!--SELECT * FROM hoho-->
        <!--WHERE id = #{id}-->
    <!--</select>-->

    <insert id="inserHoho" parameterType="com.dbmanage.model.hoho">
        INSERT INTO hoho
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                id,
            </if>
            <if test="test !=null">
                test,
            </if>
            <if test="number !=null">
                number,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="test !=null">
                #{test,jdbcType=VARCHAR},
            </if>
            <if test="number !=null">
                #{number,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>